table {
  width: 80%;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
}

.table__cell {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.table__head .table__row {
  color: #fff;
  background-color: #132f7c;
  font-weight: 700;
  text-transform: uppercase;
}

.table__body .table__row:not(.table__head .table__row):hover {
  background-color: #f2f2f2;
}

.table__foot .table__cell {
  border: none;
}

.table__pagination {
  display: flex;
  justify-content: end;
  /* gap: 20px; */
}

.table__pagination__item {
  display: inline-block;
  cursor: pointer;
  padding: 10px 14px;
}

.table__pagination__item:not(.table__pagination__item--active):hover {
  background-color: #f2f2f2;
}

.table__pagination__item--active {
  background-color: #132f7c;
  color: #fff;
}

.table__pagination__item--disabled {
  pointer-events: none;
  opacity: 0.5;
}
